@media screen and (max-width: 940px) {
    main {
      height: initial;
    }
  
    .pricing .container {
      flex-direction: column;
      background-color: transparent;
      gap: 2rem;
    }
  
    .pricing .container .card.card--bg-hl {
      transform: initial;
    }
  }